// app global css in SCSS form

.text-cream {
  color: #f1e9da !important;
}

.bg-cream {
  background: #f1e9da !important;
}

.text-discord {
  color: $discord !important;
}

.bg-discord {
  background: $discord !important;
}

body {
  // font-size: 18px;
  // font-weight: 300;
}

.q-page {
  a:not(.q-tab, .q-btn) {
    color: $primary;
    text-decoration: none;
    font-weight: bold;
  }
}

